.navMenu{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1000;
}
.navMenu > ul > li{
    float: right;
}
.navMenu > ul > li:first-child{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navMenu > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51,51,51);
}
.navMenu > ul > li > a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navMenu > ul > li > a:hover{
    background-color: rgb(17,17,17);
}
#post-button{
    background-color: rgb(101, 123, 247)
}
#post-button:hover{
    background-color: rgb(60, 60, 245);
}
#categories{
    position: absolute;
    top: 49px;
    left:0;
    width: 20%;
    z-index: -500;
}
#categories > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
#categories > ul > li > a{
    display: block;
    color: black;
    text-align: left;
    padding: 14px;
    text-align: justify;
    text-decoration: none;
    font-size: 1.3em;
}
#categories > ul > li > a:hover{
    background-color: rgb(173, 167, 167);
}
#categories > ul > li > a > img{
   width: 25px;
   margin-right: 20px;
}
#login-form,#signUp-form,#upload{
    display : none;
    position: absolute;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    width: 400px;
    height: 450px;
    top: 100px;
    left: 440px;
    padding: 2em;
    border: 3px solid black; 
    border-radius: 2%;
    background-color: white;
}
#username, #password, #sign-username,#sign-password{
    height: 2.5em;
}
#search-form{
    display: none;
    position: absolute;
    font-family: sans-serif;
    top: 49px;
    right: 70px;
    height: 1.8em;
    padding: 0.3em;
    /* text-align: center; */
    font-size: 1em;
}
#personal_form{
    display: none;
    position: absolute;
    font-family: sans-serif;
    top: 49px;
    right: 70px;
    padding: 0.3em;
    font-size: 1em;
    padding-right: 4em;
    border: 1px solid black;
}
#personal_form > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
#personal_form > ul > li > a{
    display: block;
    color: black;
    text-align: right;
    padding: 14px;
    text-align: justify;
    text-decoration: none;
}
#personal_form > ul > li > a:hover{
    background-color: rgb(173, 167, 167);
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:rgb(71, 131, 151);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  z-index: 20;
}

.button:hover {background-color: rgb(173, 167, 167)}

.button:active {
  background-color:  rgb(173, 167, 167)1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#facebookIcon{
    width: 75px;
    position: absolute;
    top: 108px;
    left: 30px;
}
#googleIcon{
    width: 90px;
    position: absolute;
    top: 100px;
    left: 220px;
}
/* za post divovete */
#post-div{
    width: 700px;
    position: absolute;
    top: 100px;
    left: 350px;
    border-bottom: 1px solid grey;
}
#post-div > img{
    width: 500px;
}
#post-div > h1:hover, h3:hover{
    color: blue;
}
#post-div > p{
    display: inline;
    color: grey;
}
#post-div > div > img,#post-div > div > a > img{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    width: 35px;
    border: 1px solid grey;
}
#post-div > div > img:hover,#post-div > div > a > img:hover{
    border: 1px solid rgb(70, 70, 70);
}
/* hashtags */
#hashtags{

    width: 500px;;
}
#hashtags > div{
    background-color: rgb(253, 239, 239);
    display: inline-block;
    margin: 5px;
}
#hashtags > div:hover{
    background-color: rgb(173, 167, 167);
}